:root {
  --bg: #1e2233;
  --bord: #313b54;
  --font-light: #e5e7eb;
  --btn-bg-dark: #0c0f17;
  --white: #ffffff;

  //work queue btn
  --tab-bg-inactive: #0c0f17;
  --tab-text-inactive: #c5c9d3;
  --tab-bg-active: #3b82f6;
  --tab-text-active: #f5f7fa;

  //   work queue table
  --table-header: #94a3b8;

  //progress color
    --pg-red: #cc0101;
    --pg-yellow: #FDD261;
    --pg-green: #3bb979;
    --pg-blue: #3B82F6;
}
